<!DOCTYPE html>
<html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
  <script type="text/javascript" src="index.js"></script>
  <!-- Latest compiled and minified CSS -->
  <style>
    #main {
      margin: 20px;
    }

    .folder {
      font-size: 1em;
    }

    .file {
      font-size: 1em;
      margin-left: 10px;
    }

    #folder-tree {
      margin-top: 15px;
      padding: 10px;
      border: 1px solid grey;
      display: block;
    }

    #add-files {
      margin-top: 15px;
      padding: 10px;
      border: 1px solid grey;
      display: inline-block;
    }

  </style>
  </head>
  <body ng-app="MyApp">
  	<div id="main" ng-class="ctrl.classObject" ng-controller="MainController as ctrl">
    <input type="checkbox" ng-model="ctrl.expanded"> Expand folders
    <div id="folder-tree">
      <div ng-repeat="folder in ctrl.folders">
        <div ng-bind="folder.name" class="folder">
        </div>
        <div ng-repeat="file in folder.files" ng-show="ctrl.expanded">
            <div class="file" ng-bind="'- ' + file.name"></div>
          </div>
      </div>
    </div>
    <div id="add-files">
      <h5>Add files</h5>
      <input type="text" ng-model="ctrl.toAdd" placeholder="Filename...">
      <span><button ng-disabled="((ctrl.selectedFolderIndex === undefined) || (!ctrl.toAdd))" ng-click="ctrl.onButtonClick()">Add file</button></span>
      <div ng-repeat="folder in ctrl.folders">
        <input type="radio" name="folder-index" ng-value="$index" ng-model="ctrl.selectedFolderIndex"><span ng-bind="folder.name"></span>
      </div>
    </div>
    <div>
    {{ ctrl | json }}
    </div>
  	</div>

  </body>
</html>