<!DOCTYPE html>
<html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
  <script type="text/javascript" src="index.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-app="MyApp">
  	<div id="main" class="container">
      <div id="part-1" class="panel panel-default" ng-class="ctrl.classObject" ng-controller="Controller1 as ctrl">
  		<div class="panel-body">
      <div class="row container">
        <label class="radio-inline">
          <input 
          type="radio"
          name="theme"
          value="default"
          ng-model="ctrl.theme"
          ng-change="ctrl.updateTheme()"> Default
        </label>
        <label class="radio-inline">
  		    <input 
          type="radio"
          name="theme"
          value="yellow"
          ng-model="ctrl.theme"
          ng-change="ctrl.updateTheme()"> Yellow
        </label>
        <label class="radio-inline">
          <input 
          type="radio"
          name="theme"
          value="green"
          ng-model="ctrl.theme"
          ng-change="ctrl.updateTheme()"> Green
        </label>
        <label class="radio-inline">
          <input 
          type="radio"
          name="theme"
          value="red"
          ng-model="ctrl.theme"
          ng-change="ctrl.updateTheme()"> Red
        </label>
        <label class="radio-inline">
          <input 
          type="radio"
          name="theme"
          value="blue"
          ng-model="ctrl.theme"
          ng-change="ctrl.updateTheme()"> Blue
        </label>
      </div>
    </label>
      <p>
      <div class = "panel panel-default">
  		  <div id="div-one" class="panel-body" ng-class="ctrl.classObject">Lorem ipsum blah blah</div>
      </div>
      <div class = "panel panel-default">
  		  <div id="div-two" class="panel-body" ng-class="ctrl.classObject">Lorem ipsum blah blah</div>
      </div>
      </div>
    </div>

    <div id="part-2" ng-class="ctrl2.classObject" ng-controller="Controller2 as ctrl2">
    <input type="checkbox" ng-model="ctrl2.expanded"> Expand folders
    <div class="panel panel-default">
    <div id="folder-tree" class="panel-body">
      <div ng-repeat="folder in ctrl2.folders">
        <div>
          <span class="glyphicon glyphicon-folder-close" ng-hide="ctrl2.expanded"></span>
          <span class="glyphicon glyphicon-folder-open" ng-show="ctrl2.expanded"></span>
          <span ng-bind="folder.name" class="folder"></span>
        </div>
        <div ng-repeat="file in folder.files" ng-show="ctrl2.expanded">
            <div class="file" ng-bind="'- ' + file.name"></div>
          </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div id="add-files" class="panel-body">
      <h5>Add files</h5>
      <input type="text" ng-model="ctrl2.toAdd" placeholder="Filename...">
      <span><button ng-disabled="((ctrl2.selectedFolderIndex === undefined) || (!ctrl2.toAdd))" ng-click="ctrl2.onButtonClick()">Add file</button></span>
      <div class="radio" ng-repeat="folder in ctrl2.folders">
        <label>
        <input type="radio" name="folder-index" ng-value="$index" ng-model="ctrl2.selectedFolderIndex"><span class="folder" ng-bind="folder.name"></span>
        </label>
      </div>
    </div>
    </div>
  </div>
  </div>
  </body>
</html>