 <style>
    #part-1 {
      margin-top: 20px;
    }
  
  	div#div-one.panel-body.default {
  		background-color: whiteSmoke;
    	color: black;
  	}
  	div#div-one.panel-body.yellow {
  		background-color: red;
    	color: green;
  	}
  	div#div-one.panel-body.green {
  		background-color: yellow;
    	color: red;
  	}
  	div#div-one.panel-body.red {
  		background-color: green;
    	color: yellow;
  	}
    div#div-one.panel-body.blue {
      background-color: whiteSmoke;
      color: blue;
    }
    div#div-two.panel-body.default {
      background-color: #BABABA;
      color: black;
    }
    div#div-two.panel-body.yellow {
      background-color: #F70E8A;
      color: green;
    }
    div#div-two.panel-body.green {
      background-color: #C3A40C;
      color: red;
    }
    div#div-two.panel-body.red {
      background-color: #2C462D;
      color: yellow;
    }
    div#div-two.panel-body.blue {
      background-color: #255A27;
      color: blue;
    }
  	.default {
  		background-color: white;
  	}
  	.yellow {
  		background-color: yellow;
  	}
  	.green {
  		background-color: green;
  	}
  	.red {
  		background-color: red;
  	}
    .blue {
      background-color: blue;
    }

    .folder {
      font-size: 1em;
      margin-left: 3px;
    }

    .file {
      font-size: 1em;
      margin-left: 10px;
    }
  </style>